*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Rubik", sans-serif;
}

.main-cont{


    .info-cont{
        background: url("../images/pattern-bg.png") no-repeat top center ;
        text-align: center;
        height: 30vh;
        padding: 30px 0 0 0;
        > h1{
            color: white;
        }
        .search-cont{
            height: 40px;
            border-radius: 10px;
            overflow: hidden;
            display: flex;
            width: 500px;
            margin: 30px auto;

            @media (max-width: 900px){
                width: 90%;
                left: 5%;
            }
            #searchInput{
                width: 90%;
                text-indent: 15px;
                border: none;
                outline: none;
                
            }
            #searchButton{
                background-color: hsl(0, 0%, 17%);
                width: 10%;
                position: relative;
                > img{
                    position: absolute;
                    left: 50%;
                    margin-left: -7px;
                    top: 50%;
                    margin-top: -7px;
                }
                &:hover, &:active{
                    background-color: hsl(0, 0%, 59%);
                }
            }
        }
        position: relative;
        .info-block{
            background-color: white;
            box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;

            position: absolute;
            width: 80%;
            left: 10%;
            display: flex;
            padding: 20px;
            border-radius: 10px;
            @media (max-width: 900px){
                flex-direction: column;
                width: 90%;
                left: 5%;
                > div{
                    margin: 0 !important;
                    border: none !important;
                    padding: 0 !important; 
                    text-align: center !important;
                    > p{
                        &:last-child{
                            font-size: 15px !important;
                        }
                    }
                }
            }
            > div{
                text-align: left;
                &:not(:last-child){
                    margin-right: 100px;
                }
                &:not(:first-child){
                    padding-left: 50px;
                    border-left: 1px solid hsl(0, 0%, 89%);
                }
                > p{
                    &:last-child{
                        font-weight: 700;
                        font-size: 23px;
                        margin: 10px 0;
                    }
                }
            }
        }
    }
    #mapid{
        height: 70vh;
        z-index: -1;
    }
}