@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap'); @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap'); */

@layer components {
    *, *::after, *::before {
        @apply transition-colors;
    }
    body {
        @apply bg-lightBg dark:bg-darkBg;
        font-family: 'Nunito Sans', sans-serif;
    }
    .filter-button {}
    .filter-button button{
        @apply px-6 py-2 w-full text-left ;

    }
    .card-p {
        margin-bottom: 0px;

    }
    .card-p:last-child {
        margin-bottom: 45px;
    }
}