@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap'); @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap'); */

@layer components {
    *, *::after, *::before {
        @apply transition-colors;
    }
    body {
        @apply bg-lightBg dark:bg-darkBg;
        font-family: 'Nunito Sans', sans-serif;
    }
    .filter-button {}
    .filter-button button{
        @apply px-6 py-2 w-full text-left ;

    }
    .card-p {
        margin-bottom: 2px;

    }
    .card-p:last-child {
        margin-bottom: -5px;
    }

    .info-p {
        flex: 1;
        flex-basis: 50%;
        margin-bottom: 13px;
    }
    .info-p:nth-child(7) {
        flex-basis:  100%;
        
    }
    .info-p:last-child {
        flex-basis:  100%;
    }
    .skeleton-p {
        flex: 1;
        flex-basis: 45%;
        width:  45%;
        margin-bottom: 23px;
        margin-left:  10px;
    }
    .skeleton-p:nth-child(7) {
        flex-basis:  100%;
        width:  100%;
    }
    .skeleton-p:last-child {
        flex-basis:  100%;
        width:  100%;
    }
    .skeleton {
        @apply animate-pulse;

        
    }
}