
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
    box-sizing: border-box; 
    padding: 0;
    margin: 0;
}

:root {
    font-size: 62.5%;
    --bg-color: hsl(217, 54%, 11%);
    --card-bg: hsl(216, 50%, 16%);
    --line-color: hsl(215, 32%, 27%);
    --price-color: hsl(178, 100%, 50%);
    --text-color: hsl(215, 51%, 70%);
    --white: #fff;
}

body {
    font-size: 1.6rem;
    font-family: 'Outfit', sans-serif;
    padding: 150px 0;
    background-color: var(--bg-color);
}

img {
    width: 100%;
    max-width: 100%;
    vertical-align: middle;
}
a {
    text-decoration: none;
    color:var(--white);

    &:hover {
        color: var(--price-color);
    }
}
.price-card {
    background-color: var(--card-bg);
    width: 350px;
    border-radius: 14px;
    margin: auto;
    padding: 25px 25px 35px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    p {
        color: var(--text-color);
        font-size: 1.8rem;
    }
    h3 {
        a {
        }
    }
    .card-preview {
        border-radius: 7px;
        overflow: hidden;
        width: 300px;
        margin-bottom: 25px;
        position: relative;
        &::after {
            transition: 200ms all ease-in-out;
            background-color: var(--price-color);
            opacity: 0.4;
            content: '';
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 99;
        }
        &::before {
            content: url("../../images/icon-view.svg");
            display: none;
            position: absolute;
            top: calc(50% - 24px);
            left: calc(50% - 24px);
            width: 48px;
            height: 48px;
            z-index: 100;
        }
        &:hover::after{
            // filter: var(--preview-hover-color);
            display: block;
        }        
        &:hover::before{
            // filter: var(--preview-hover-color);
            display: block;
        }
    }
    .card-preview, h3, &>p {
        margin-bottom: 25px;

    }
    div {
        display: flex;
        align-items: center;
        .avatar {
            width: 30px;
            margin-right: 15px;
            border: 1px solid var(--white);
            border-radius: 99px;
        }
        .price {
            color: var(--price-color);
            font-weight: 600;
        }
        > p {
            display: flex;
            align-items: center;
            > svg {
                margin-right: 5px;
            }
            > a {
                margin-left: .5ch;
            }
        }
    }
    .price-wrapper {
        justify-content: space-between;
    }
    > hr {
        border: none;
        background: var(--line-color);
        height: 1px;
        width: 100%;
        margin: 15px 0;
    }
}


.attribution { color: #FFF; font-size: 1.4rem; text-align: center; margin-top: 50px;}
.attribution a { color: var(--price-color); }