
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

$cyan: hsl(180, 66%, 49%);
$darkViolet: hsl(257, 27%, 26%);

$red: hsl(0, 87%, 67%);
$gray: hsl(0, 0%, 95%);
$grayishViolet: hsl(257, 7%, 63%);
$veryDarkBlue: hsl(255, 11%, 22%);
$veryDarkViolet: hsl(260, 8%, 14%);


$breakpoints-up : ("medium":"40em", "large":"64em", "xlarge": "87.5");
$breakpoints-down: ("small":"39.975em", "medium":"63.975em", "large": "87.4375em");

@mixin breakpoint-up($size){
    @media (min-width: map-get($breakpoints-up, $size)){
        @content;
    }
}

@mixin breakpoint-down($size){
    @media (max-width: map-get($breakpoints-down, $size)){
        @content;
    }
}
.flex{
    display: flex;

    &-jc-sb{
        justify-content: space-between;
    }

    &-ai-c{
        align-items: center;
    }
}

.hide-for-mobile{
    @include breakpoint-down(small){
        display: none;
    }
}
.hide-for-desktop{
    @include breakpoint-up(medium){
        display: none;
    }
}

@import "globals";
@import "header";