.header {
  padding: 20px 150px;
  background-color: white;
}

.header-mobile-menu .menu-span {
  display: block;
  height: 2px;
  width: 25px;
  background-color: #2d314d;
}

.header-mobile-menu .menu-span:not(:last-child) {
  margin-bottom: 5px;
}

.header #mobileMenu {
  display: none;
}

.header-links > a {
  color: #9698a6;
  position: relative;
  -webkit-transition: 150ms ease-in-out;
  transition: 150ms ease-in-out;
}

.header-links > a > span {
  width: 105%;
  height: 3px;
  bottom: -30px;
  display: block;
  background-image: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background-image: linear-gradient(to right, #31d35c, #2bb7da);
  position: absolute;
  display: none;
}

.header-links > a:not(:last-child) {
  margin-right: 20px;
}

.header-links > a:hover {
  color: #2d314d;
}

.header-links > a:hover > span {
  display: block;
}

@media (max-width: 39.975em) {
  .header {
    position: fixed;
    width: 100%;
    z-index: 2;
  }
  #mobileMenu:checked ~ .header-mobile-menu .menu-span {
    -webkit-transform-origin: 2.5px 1.5px;
            transform-origin: 2.5px 1.5px;
  }
  #mobileMenu:checked ~ .header-mobile-menu .menu-span:first-child {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  #mobileMenu:checked ~ .header-mobile-menu .menu-span:nth-child(2) {
    opacity: 0;
  }
  #mobileMenu:checked ~ .header-mobile-menu .menu-span:last-child {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  #mobileMenu:checked ~ .header-links {
    left: 5%;
    position: fixed;
  }
  .header-mobile-menu > span {
    -webkit-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
  }
  .header-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    background-color: white;
    -webkit-box-shadow: 0 21px 40px 10px grey;
            box-shadow: 0 21px 40px 10px grey;
    border-radius: 4px;
    width: 90%;
    top: 75px;
    left: -130%;
    text-align: center;
    padding: 25px;
    -webkit-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
  }
  .header-links > a {
    display: block;
    width: 100%;
    color: #2d314d;
  }
  .header-links > a:not(:last-child) {
    margin-bottom: 25px;
  }
}

@media (max-width: 63.975em) {
  .header-cta {
    display: none;
  }
}

@media (max-width: 63.975em) {
  .header {
    padding: 20px 70px;
  }
}

@media (max-width: 39.975em) {
  .header {
    padding: 15px 25px;
  }
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 39.975em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 40em) {
  .hide-for-desktop {
    display: none;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  font-size: 16px;
}

p {
  font-weight: 300;
}

.button {
  padding: 10px 30px;
  border-radius: 50px;
  background-image: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background-image: linear-gradient(to right, #31d35c, #2bb7da);
  color: white;
  -webkit-transition: 150ms ease-in-out;
  transition: 150ms ease-in-out;
}

.button:hover {
  opacity: .4;
}

body {
  font-family: "Public Sans", sans-serif;
  line-height: 1.5;
  font-size: 18px;
}

.main-cont .intro-cont {
  height: 100vh;
  overflow: hidden;
  background: url("../images/bg-intro-desktop.svg") no-repeat right -500px bottom -70px;
  background-color: #fafafa;
  position: relative;
}

.main-cont .intro-cont .dummy-div {
  height: 80px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #f3f4f6;
}

.main-cont .intro-cont .text-cont {
  width: 50%;
  padding: 0 0 0 150px;
}

.main-cont .intro-cont .text-cont > h1 {
  font-weight: 500;
  color: #2d314d;
  width: 300px;
  margin-bottom: 20px;
}

.main-cont .intro-cont .text-cont > p {
  color: #9698a6;
  width: 460px;
  margin-bottom: 50px;
}

.main-cont .intro-cont .hero-cont {
  width: 50%;
}

.main-cont .intro-cont .hero-cont > img {
  margin: -100px 0 0 100px;
  width: 100%;
  position: relative;
  z-index: 1;
}

@media (max-width: 63.975em) {
  .main-cont .intro-cont {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    height: unset;
    background: none;
    background-color: #fafafa;
  }
  .main-cont .intro-cont .text-cont {
    width: 100%;
    text-align: center;
    padding: 0 0 40px;
  }
  .main-cont .intro-cont .text-cont > h1 {
    margin: 0 auto 30px;
  }
  .main-cont .intro-cont .text-cont > p {
    width: 500px;
    margin: 0 auto 50px;
  }
  .main-cont .intro-cont .text-cont > a {
    margin-bottom: 50px;
  }
  .main-cont .intro-cont .dummy-div {
    display: none;
  }
  .main-cont .intro-cont .hero-cont {
    width: 100%;
    background: url("../images/bg-intro-desktop.svg") no-repeat right -300px bottom;
  }
  .main-cont .intro-cont .hero-cont > img {
    width: 60%;
    margin: -150px 0 0;
    margin-left: 20%;
  }
}

@media (max-width: 39.975em) {
  .main-cont .intro-cont {
    height: 100vh;
  }
  .main-cont .intro-cont .text-cont {
    padding: 0 25px 50px;
  }
  .main-cont .intro-cont .text-cont > p {
    width: 100%;
  }
  .main-cont .intro-cont .hero-cont {
    background: url("../images/bg-intro-mobile.svg") no-repeat center bottom;
    padding: 0 25px;
  }
  .main-cont .intro-cont .hero-cont > img {
    width: 100%;
    margin: 50px 0;
  }
}

.main-cont .benefits-cont {
  padding: 0 150px 50px;
  background-color: #f3f4f6;
}

.main-cont .benefits-cont > h2 {
  color: #2d314d;
  margin-bottom: 30px;
  font-weight: 500;
}

.main-cont .benefits-cont > p {
  color: #9698a6;
  width: 60%;
  margin-bottom: 60px;
}

.main-cont .benefits-cont .benefits {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.main-cont .benefits-cont .benefits .benefit .image {
  width: 70px;
  margin-bottom: 30px;
}

.main-cont .benefits-cont .benefits .benefit .image > img {
  width: 100%;
}

.main-cont .benefits-cont .benefits .benefit > h3 {
  color: #2d314d;
  margin-bottom: 30px;
  font-weight: 500;
}

.main-cont .benefits-cont .benefits .benefit > p {
  color: #9698a6;
  font-size: 16px;
}

@media (max-width: 63.975em) {
  .main-cont .benefits-cont {
    padding: 70px;
    text-align: center;
  }
  .main-cont .benefits-cont > p {
    width: 100%;
  }
  .main-cont .benefits-cont .benefits {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 50px 30px;
  }
  .main-cont .benefits-cont .benefits .benefit .image {
    margin: 0 auto 30px;
  }
}

@media (max-width: 39.975em) {
  .main-cont .benefits-cont {
    padding: 50px 25px;
  }
  .main-cont .benefits-cont .benefits {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 50px;
  }
}

.main-cont .articles-cont {
  padding: 50px 150px;
  background-color: #fafafa;
}

.main-cont .articles-cont > h2 {
  color: #2d314d;
  margin-bottom: 30px;
  font-weight: 500;
}

.main-cont .articles-cont .articles {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.main-cont .articles-cont .articles .article {
  border-radius: 4px;
  overflow: hidden;
  background-color: white;
  cursor: pointer;
}

.main-cont .articles-cont .articles .article:hover .text-cont > h4 {
  color: #2bb7da;
}

.main-cont .articles-cont .articles .article .text-cont {
  padding: 10px 20px;
}

.main-cont .articles-cont .articles .article .text-cont .author {
  font-size: 12px;
  color: #9698a6;
  margin-bottom: 10px;
}

.main-cont .articles-cont .articles .article .text-cont .brief {
  font-size: 13px;
  color: #9698a6;
}

.main-cont .articles-cont .articles .article .text-cont > h4 {
  font-size: 16px;
  font-weight: 300;
  color: #2d314d;
  margin-bottom: 10px;
  -webkit-transition: 150ms ease-in-out;
  transition: 150ms ease-in-out;
}

.main-cont .articles-cont .articles .article .image {
  max-height: 150px;
  overflow: hidden;
}

.main-cont .articles-cont .articles .article .image > img {
  width: 100%;
}

@media (max-width: 63.975em) {
  .main-cont .articles-cont {
    padding: 50px 70px;
  }
  .main-cont .articles-cont .articles {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 50px 30px;
  }
}

@media (max-width: 39.975em) {
  .main-cont .articles-cont {
    padding: 50px 25px;
  }
  .main-cont .articles-cont .articles {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.main-cont .footer {
  background-color: #2d314d;
  padding: 30px 150px;
}

.main-cont .footer .first .share {
  margin-right: 100px;
}

.main-cont .footer .first .share .logo {
  margin-bottom: 30px;
}

.main-cont .footer .first .share .social-media .image {
  margin: 5px;
}

.main-cont .footer .first .links {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 10px 100px;
}

.main-cont .footer .first .links > a {
  color: white;
  font-size: 14px;
}

.main-cont .footer .first .links > a:hover {
  color: #31d35c;
}

.main-cont .footer .second {
  text-align: right;
}

.main-cont .footer .second > p {
  font-size: 14px;
  margin: 20px 0;
  color: #9698a6;
}

@media (max-width: 63.975em) {
  .main-cont .footer {
    padding: 30px 70px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-cont .footer .first {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 50px;
  }
  .main-cont .footer .first .share {
    margin: 0;
    margin-bottom: 20px;
    width: 100%;
  }
  .main-cont .footer .first .share .social-media {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main-cont .footer .second {
    text-align: center;
  }
}

@media (max-width: 39.975em) {
  .main-cont .footer {
    padding: 20px 25px;
  }
  .main-cont .footer .first .links {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}
